<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>FLASK-REST-API</title>
    {% endif %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}

</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    {% block body %}{% endblock %}
</body>
</html>