{% extends "base.html" %}

{% block body %}
    <div class="home-nav">
        <h1 id="home">PRODUCT MENU</h1>
        <button class="btn"><a id="product" href="http://127.0.0.1:5000/new">New Product</a></button><br><br>
        <button class="btn"><a id="product" href="http://127.0.0.1:5000/map_product">View Product</a></button><br><br>
        <button class="btn"><a id="product-del" href="http://127.0.0.1:5000/delete">Delete Product</a></button><br><br>
        <button class="btn"><a id="product" href="http://127.0.0.1:5000/update">Update Product</a></button><br><br>
        <button class="btn"><a id="products" href="http://127.0.0.1:5000/products">View All Products</a></button>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </div>
{% endblock %}