{% extends "base.html" %}

{% block body %}
    <marquee behavior="slide" direction="left" scrollamount="3">
        <h1 id="home">GET PRODUCT BY ID</h1>
    </marquee>
    <form id="form-nav" action="http://{{host}}:{{port}}/map_product" method="post">
        <p id="id">Enter ID: </p>
        <p><input id="product-id" type="number" min="1" name="product-id" placeholder="Product ID: " required></p>
        <p><input type="submit" value="View Product" class="btn" id="submit"></p>
        <p><a href="http://{{host}}:{{port}}/"><input type="button" value="Home" id="home-btn"></a></p>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </form>

{% endblock %}